@font-face {
  font-family: dj-font;
  src: url(assets/fonts/Moonhouse-yE5M.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: cursive, sans-serif;
  color: #444;
}

.vinyl {
  width: 82px;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2.5%;
  left: 2.5%;
  z-index: 0;
  background-image: url(/assets/icons/vinyl.svg);
  background-size: 106% 106%;
  background-position: center;
  border-radius: 50%;
  content: "";
}

.vinyl:hover,
.vinyl:active {
  -webkit-animation: 5s linear spinThat infinite, 1s ease-out getOut 1s forwards;
  animation: 5s linear spinThat infinite, 1s ease-out getOut 1s forwards;
}

.vinyl a {
  display: flex;
  width: 100%;
  height: 100%;
}

.image-container img {
  background-image: linear-gradient(
    rgba(34, 34, 34, 0.6),
    rgba(34, 34, 34, 0.6)
  );
  background-size: cover;
  color: #fff;
  height: 100%;
}

.vinyl img {
  background-image: none;
  width: 45%;
  height: 45%;
  margin: auto;
  background: black;
  border-radius: 10000px;
}

.vinyl img.white {
  background: #fff;
}

@keyframes spinThat {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a:visited {
  animation: none;
}

@keyframes play {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.social-links-container {
  display: flex !important;
  position: absolute;
  align-self: center;
  justify-self: start;
  flex-direction: column;
  left: 10%;
  gap: 50px;
  top: calc(100% - 75%);
}
.social-links-container .icon {
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
}
nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: inherit;
}

iframe {
  display: inline;
  position: absolute;
  top: calc(100% - 80px);
}

iframe .bu {
  display: none !important;
}

.header-container {
  width: 1200px;
  position: absolute;

  /* In relation to PARENT size */
  left: 50%;
  top: 50%;

  /* In relation to ELEMENT size */
  transform: translate(-50%, -50%);

  /* background-color: violet; */

  /* text-align: center; */
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header-container-inner {
  width: 50%;
  /* background-color: blue; */
}

.image-container h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
  z-index: 2;
  color: #fff;
  position: absolute;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0;
  background-color: #f7f7f7;
}

.form-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.form-container::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  content: "";
}
.form-container--linear {
  z-index: 11;
  max-width: fit-content;
  padding: 1rem;
  position: relative;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  padding: 3px;
}

.form-container--linear__header {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 20%;
  z-index: 9;
}
.form-container--linear__header .img-header-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 98%;
  height: 95%;
  overflow: hidden;
  background: black;
  transform: translate(0.5%, 2%);
}

form {
  background: black;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.img-header-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  overflow: hidden;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: black;
}

.img-header-container img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.form-row .col {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  padding: 2px;
}

.form-row .col input,
.form-row textarea {
  width: 290px;
  line-height: 22px;
  color: #fff;
  background: black;
  font-size: 22px;
  font-family: inherit;
  padding-left: 10px;
}

.form-row textarea {
  padding-top: 10px;
}

.form-row .col input::placeholder,
.form-row textarea::placeholder {
  color: #fff;
}

form .form-description {
  font-size: 30px;
}

.form-row .button {
  width: 290px;
  height: 41px;
  font-size: 26px;
  font-family: inherit;
  border-radius: 16px;
  background-color: black;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.form-row .button.submit {
  border: 1px solid #23a6d5;
}

.form-row .button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.form-row .button.cancel {
  border: 1px solid #ee7752;
}

.form-row .button.submit:hover,
.form-row .button.cancel:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.footer {
  position: absolute;
  top: calc(100% - 60px);
  font-size: 20px;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
}

.footer a:link {
  color: #23d5ab;
}

@media screen and (max-height: 600px) {
  .social-links-container {
    gap: 25px;
  }
}
